<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        PBO-DPB : Public debt charges calculator / Calculateur des frais sur la dette publique
    </title>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-96x96.png">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <style>
        [v-cloak] {
            display: none
        }

        h1 {
            color: #2F4858;
        }
    </style>

    <script src='./stopie.js'></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJZWH85452"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-YJZWH85452');
    </script>
</head>

<body>
    <main id="app" v-cloak>

        <header class="section is-hidden-print" style="background-color: #F3F5F6;">
            <div class="container is-fluid">
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <figure style="max-width:200px;max-height:80px;">
                                <a href="https://www.pbo-dpb.gc.ca"><img style="width: 100%"
                                        v-if="selectedLanguage === 'fr'" src="./assets/2019-08-19_Full_logo_f-01.svg"
                                        :alt="localizedStrings.pbo.fr">
                                    <img style="width: 100%" v-else src="./assets/2019-08-19_Full_logo_e-01.svg"
                                        :alt="selectedLanguage === 'en' ? localizedStrings.pbo.en : 'PBO-DPB'"></a>
                            </figure>

                        </div>

                    </div>


                    <!-- Right side -->
                    <div class="level-right">
                        <p class="level-item" v-if="selectedLanguage !== 'en'"><a class="button"
                                href="?lang=en">English</a>
                        <p class="level-item" v-if="selectedLanguage !== 'fr'"><a class="button"
                                href="?lang=fr">Français</a></p>
                        </p>
                    </div>
                </nav>

            </div>
        </header>

        <header class="is-print-only has-text-centered" style="width: 100%">
            <h3 class="title is-3">{{ strings.title }}</h3>
            <h5 class="title is-5">{{ strings.pbo }}</h5>
        </header>

        <section v-if="selectedLanguage && years" class="section">

            <main class="container is-fluid">

                <div class="content has-text-centered is-hidden-print">
                    <h1>{{ strings.title }}</h1>
                    <p>{{ strings.description }}</p>
                    <p><small>{{ strings.updatedOn }} {{ lastUpdated }}</small></p>
                    <p>{{ strings.linkToBlogPostLabel }}<br><a :href="strings.linkToBlogPostUrl">{{
                            strings.linkToBlogPostUrl }}</a></p>
                </div>
                <!-- Main container -->
                <nav style="margin: 2em 0.5em;" class="level is-hidden-print">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <label class="checkbox">
                                <input type="checkbox" v-model="showBackEnd">
                                {{ strings.showBackEnd }}
                            </label>
                        </div>

                    </div>

                    <!-- Right side -->
                    <div class="level-right" v-if='true || false'>
                        <div class="level-item">
                            <button class="button is-small" @click="print">{{ strings.printPage }}</button>
                        </div>

                    </div>
                </nav>

                <figure class="table-container">
                    <table class="table is-striped is-narrow is-fullwidth">
                        <thead>
                            <tr>
                                <th>{{ strings.fiscalYear }}</th>

                                <th v-for="year in yearsLabels" width="7.145%">{{ year }}</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th>{{ strings.totalRevenuesMeasures }}<br><small class="has-text-grey-light">{{
                                        strings.inMillions }}</small>
                                </th>
                                <td v-for="year in years.displayYears">
                                    <div class="field is-hidden-print ">
                                        <div class="control">
                                            <input class="input is-small" type="number"
                                                v-model.number="year.totalRevenueMeasures">
                                        </div>
                                    </div>
                                    <span class="is-print-only">{{ year.totalRevenueMeasures }}</span>
                                </td>
                            </tr>


                            <tr>
                                <th>{{ strings.totalProgramSpendingMeasures }}<br><small class="has-text-grey-light">{{
                                        strings.inMillions }}</small>
                                </th>
                                <td v-for="year in years.displayYears">
                                    <div class="field is-hidden-print">
                                        <div class="control">
                                            <input class="input is-small" type="number"
                                                v-model.number="year.totalProgramSpendingMeasures">
                                        </div>
                                    </div>
                                    <span class="is-print-only">{{ year.totalProgramSpendingMeasures }}</span>
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.netChangeOnPrimaryBalance }}<br><small class="has-text-grey-light">{{
                                        strings.inMillions }}</small>
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ year.netChangeOnPrimaryBalance }}
                                </td>
                            </tr>



                        </tbody>

                        <thead v-if="showBackEnd" style="border-top: 1px solid rgb(219, 219, 219);">
                            <tr>
                                <th :colspan='yearsLabels.length+1'>
                                    {{ strings.backEnd }}</th>
                            </tr>
                            <tr>
                                <th>{{ strings.fiscalYear }}</th>

                                <th v-for="year in yearsLabels">{{ year }}</th>

                            </tr>

                        </thead>
                        <tbody v-if="showBackEnd" style="border-bottom: 1px solid rgb(219, 219, 219)">


                            <tr>
                                <th>{{ strings.day90TreasuryBillRate }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ year.day90TreasuryBillRate.toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.year10BondRate }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ parseFloat(year.year10BondRate).toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.longTermBondRate }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ parseFloat(year.longTermBondRate).toFixed(2) }}
                                </td>
                            </tr>


                            <tr>
                                <th>{{ strings.effectiveInterestRateOnNewMediumTermDebt }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ year.effectiveInterestRateOnNewMediumTermDebt.toFixed(2) }}
                                </td>
                            </tr>



                            <tr>
                                <th>{{ strings.debtChargesOnPrimaryBalance }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ year.debtChargesOnPrimaryBalance.toFixed(2) }}
                                </td>
                            </tr>


                            <tr>
                                <th>{{ strings.newIncrementalBorrowing }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.newIncrementalBorrowingForYear(year).toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.cumulativeIncrementalBorrowing }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.cumulativeIncrementalBorrowingForYear(year).toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.incrementalLongTermBondStock }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.incrementalLongTermBondStockForYear(year).toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.incrementalMediumTermBondStock }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.incrementalMediumTermBondStockForYear(year).toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.shareOfMediumTermBondsNewlyIssued }}
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.shareOfMediumTermBondsNewlyIssuedForYear(year) | percentage }}
                                </td>
                            </tr>



                        </tbody>


                        <thead style="border-top: 1px solid rgb(219, 219, 219);">
                            <tr>
                                <th :colspan='yearsLabels.length+1'>
                                    {{ strings.outputs }}</th>
                            </tr>
                            <tr>
                                <th>{{ strings.fiscalYear }}</th>

                                <th v-for="year in yearsLabels">{{ year }}</th>

                            </tr>
                        </thead>
                        <tbody style="border-bottom: 1px solid rgb(219, 219, 219)">

                            <!--<tr>
                                <th>{{ strings.totalDebtCharges }}<br><small class="has-text-grey-light">{{
                                        strings.inMillions }}</small>
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.totalDebtCharges(year).toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.cumulativeSurplus }}<br><small class="has-text-grey-light">{{
                                        strings.inMillions }}</small>
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.cumulativeSurplus(year).toFixed(2) }}
                                </td>
                            </tr>


                            <tr>
                                <th>{{ strings.surplusForTheYear }}<sup>*</sup><br><small class="has-text-grey-light">{{
                                        strings.inMillions }}</small>
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.surplusForTheYear(year).toFixed(2) }}
                                </td>
                            </tr>

                            <tr>
                                <th>{{ strings.averageEffectiveInterestRate }}<sup>**</sup><br><small
                                        class="has-text-grey-light">%</small>
                                </th>
                                <td v-for="year in years.displayYears">
                                    {{ years.averageEffectiveInterestRate(year) ?
                                    years.averageEffectiveInterestRate(year).toFixed(2) : "—" }}
                                </td>
                            </tr>

                        -->

                        </tbody>


                        <tfoot>
                            <tr>
                                <td :colspan='yearsLabels.length+1'>

                                    <div><sup>*</sup>{{ strings.surplusOfTheYearWarning }}</div>
                                    <div><sup>**</sup>{{ strings.averageEffectiveInterestRateWarning }}</div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </figure>



            </main>
        </section>



    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
        integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/collect.js/4.28.6/collect.min.js"></script>
    <script src='./year.js'></script>
    <script src='./years.js'></script>


    <script src='./static-variables.js'></script>
    <script src='./strings.js'></script>

    <script src='./app.js'></script>
</body>

</html>